<h1>Show room page</h1>

  <% if @room.photos.attached? %>
    <% @room.photos.each do |photo| %>
      <%= image_tag photo, width: 100 %>
    <% end %>
      <% else %>
      Unavailable
  <% end %>

  <p>Description: <%= @room.description %></p>
  <p>Home type: <%= @room.home_type %></p>
  <p>Number of bedroom(s): <%= @room.bed_room %></p>
  <p>Number of bathroom(s): <%= @room.bath_room %></p>
  <p>Internet provided <% if @room.have_internet %>
        ✓
      <% else %>
        ✕
      <% end %></p>
  <p>TV provided <% if @room.have_tv %>
        ✓
      <% else %>
        ✕
      <% end %></p>
  <p>Heater provided <% if @room.have_heater %>
        ✓
      <% else %>
        ✕
      <% end %></p>
  <p>Rate/night <%= @room.rate_per_night %></p>

<%= link_to "Book room", new_booking_url(room_id: @room.id) %>

<br>

<%= link_to "Back to list of rooms", rooms_url %>
